/**
* @file css_doc.css
* @author Thomas Kadauke
* @css-for Safari 4, Firefox 3
*/

/**
* @section Reset styles
* These styles reset the default style sheet that comes with the user agent.
*/

/**
* Set margins and paddings to 0, and font-properties to a default value.
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/**
* Reset focus styles to nothing.
* Remember to define focus styles in after this declaration.
*/
:focus {
  outline: 0;
}
/**
* Reset text color and line height.
*/
body {
  line-height: 1;
  color: black;
  background: white;
}
/**
* Remove default list decoration.
*/
ol, ul {
  list-style: none;
}
/*
* Remove default table styling.
* Tables still need 'cellspacing="0"' in the markup.
*/
table {
  border-collapse: separate;
  border-spacing: 0;
}
/**
* Reset text alignment and typography for special tags.
*/
caption, th, td {
  text-align: left;
  font-weight: normal;
}
/**
* Remove CSS generated content around citation tags.
*/
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/**
* @section Typography
*/

/**
* A font size of 100.01% on the html tag makes it possible to easily convert
* em's to pixels with default font size settings in all major browsers.
*/
html {
  font-size: 100.01%;
}

/**
* Reset font size so that 1 em is 10 pixels.
*/
body {
  font-size: 62.5%;
  font-family: Arial, Verdana, Tahoma, 'Bitstream Vera Sans', sans serif;
}

/**
* Set font size and spacing.
*/
#canvas {
  font-size: 1.2em;
  line-height: 1.3;
}

p {
  margin-bottom: 0.5em;
}

/**
* @section Headers
*/

/**
* All headers use the same font, same margins, but different font sizes.
*/
h1, h2, h3, h4, h5, h6                      { font-family: 'Arial', sans serif; font-weight: normal; line-height: 1; margin: 0 0 .5em 0; padding: 0; }
h1                                          { font-size: 1.9em; }
h2                                          { font-size: 1.8333333em; }
h3                                          { font-size: 1.6em; }
h4                                          { font-size: 1.4em; }
h5                                          { font-size: 1em; }
h6                                          { font-size: 1em; }

/**
* @section Layout
*/

body {
  padding: 1em;
}

.content {
  margin-left: 15em;
}

/**
* Push navigation to the left-hand side.
*/
.navigation {
  float: left;
  width: 9em;
}

/**
* @section Lists
*/

dl {
  margin-bottom: 0.5em;
}

dt {
  font-weight: bold;
}

/**
* Use nice indentation to make definition items more distinguishable from the
* terms.
*/
dd {
  padding-left: 2em;
}

/**
* @section Indexes
*/

/**
* Index list items should be next to each other.
*/
dl.index ul li {
  display: inline;
}

/**
* Separate index list items by commas via CSS.
*/
dl.index ul li:after {
  content: ', ';
}

/**
* No comma for the last index list item.
*/
dl.index ul li:last-child:after {
  content: '';
}

/**
* Actually use bullets for the file index.
*/
ul.file-index {
  list-style-type: disc;
}

ul.file-index li {
  margin-left: 3em;
}

/**
* @section Document page
*/

ul.rule-sets, ul.sections {
  margin-bottom: 0.5em;
}

/**
* Like index lists, the table of contents lists on the document page should be
* inlined.
*/
ul.sections li, ul.rule-sets li {
  display: inline;
}

/**
* Again, use CSS-generated commas to separate the items.
*/
ul.sections li:after, ul.rule-sets li:after {
  content: ', ';
}

/**
* No comma for the last one.
*/
ul.sections li:last-child:after, ul.rule-sets li:last-child:after {
  content: '';
}

/**
* Give section headers a visual emphasis.
*/
h3.section {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 1em;
  margin-bottom: 1em;
}

/**
* Examples are surrounded by a thick border. Also there is a rather large
* padding to make it clear where the example starts. This selector is the
* namespace for generated CSS, which is used to style the example in the box.
*/
div.example {
  margin: 1em 0 1em 2em;
  border: 2px solid #000;
  padding: 1em;
}

/**
* @section Table of contents
*/

ul.navigation li {
  border-top: 1px solid #000;
  padding: 0.25em;
}

ul.navigation li:last-child {
  border-bottom: 1px solid #000;
}

/**
* @section Footer
*/

/**
* Center footer line.
*/
#footer {
  margin-top: 2em;
  text-align: center;
}
